<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConfFlow - Register</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>ConfFlow</h1>
        <marquee  scrollamount="10">Submit to Global AI Summit 2025 - Deadline: March 15.</marquee>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    <main>
        <section class="form-container">
            <h2>User Registration</h2>
            <form action="/register" method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="btn">Register</button>
            </form>
        </section>
    </main>
</body>
</html>